<nav class="nav">
    <div class="width">
        <div class="width-inner">
            <table class="main_menu">
            <tbody>
            <tr>
                <td class="item allnote">
                    <div class="item_container" >
                        <a href="{{ path('notebook') }}">
                            <b class="allnote">
                            <i>ВСЕ НОУТБУКИ</i>
                            </b>
                             
                        </a>
                    </div>
                </td>
                {% for entity in entities %}
                <td class="item">
                    <div class="item_container">
                        <a href="{{ path('notebook', {'slug': entity.value}) }}">
                            <b>
                            <i>{{entity.value}}</i>
                            </b>
                            <span></span>
                        </a>
                    </div>
                </td>
                {% endfor %}
            </tr>
            </tbody>
            </table>
        </div>
    </div>    
</nav>                        