<div class="map">
    <span class="title">Мы на карте</span>
    <div id="map">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0fhehcJ0oJ8jwweiSRkgsIpHay4RtT87&width=100%&height=450"></script>
    </div>
    <div class="address-block">
        <div class="address">
            <img  src="{{ asset('images/icon/addr.png') }}" itemprop="Адрес" title="Адрес" alt="">
            <br>
            <b>Наш адрес</b>
            <p>г. Киев, ул.Пушкинская, д. 17</p>
        </div>
        <div class="phone">
            <img  src="{{ asset('images/icon/call.png') }}" itemprop="Телефоны" title="Телефоны" alt="">
            <br>
            <b>Позвони нам</b>
            <br>
            <p>(044) 888 00 00</p>
            <p class="telbig">8 (800) 800-00-08</p>
        </div>
    </div>
</div>