<div class="newproduct">
    <div class="productdetail">
        <a href="{{path('notebook_show', {'id': 29, 'slug': 'Apple-MacBook-Gold' })}}">
            <img  src="{{ asset('images/action/macbook.png') }}" itemprop="Macbook" title="Macbook" alt="">
        </a>    
    </div>
</div>